/* CSS Document */
/*#wrapper{border:thin solid black}
#topHeader{font-size:24px; text-align:center}
#footer{text-align:center; padding:5px; border-top:thin solid black}*/

/*
    color: #FF4F58FF;
    background-color: #A89C94FF;
 */

body{
    background-color: #A89C94FF;
}

#topHeader{
    font-size:24px;
    text-align:center;
    color: #F0F6F7FF;
    background-color: #669DB3FF;
}

#footer{
    text-align:center;
    padding:5px;
    border-top:thin solid black;
    color: #F0F6F7FF;
    background-color: #669DB3FF;
}

#wrapper{
    border:thin solid black;
    background-color:#F0F6F7FF;
}

.flex-column li a{
    color: #669DB3FF;
}

.flex-column li a:hover{
    background-color: #A89C94FF;
}

/* Next Item Style */
.carousel-caption a{
    color: black;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 3%;
}
.carousel-indicator {
    position: relative;
   top:0;
    color: teal;
}

.carousel-indicators .active{
    background-color: orange;
}
.carousel-indicators li {
    background-color: burlywood;
}

.item h3{
    color: teal;
    font-size: 265%;
}
